* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* force scrollbar */
html { overflow-y: scroll; }

.append-button{
	position: fixed;
	top: 100px;
	left: 10px;
	z-index: 9999;
	width: 150px;
	height: 30px;
	border-radius: 10px;
	background-color: #0096ff;
	text-align: center;
	line-height: 30px;
	display: block;
	cursor: pointer;
	color: #fff;
	margin-bottom: 6px;
}
.load-more{
	display: block;
	margin: 10px auto;
	width: 100px;
	height: 30px;
	background-color: #0096ff;
	text-align: center;
	line-height: 30px;
	color: #fff;
	border-radius: 6px;
	cursor: pointer;
}
/* ---- isotope ---- */

.grid {
  background: #DDD;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 50%;
}

.grid-item {
  float: left;
  cursor: pointer;
}

.grid-item img {
  display: block;
  max-width: 100%;
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
	.grid-sizer, .grid-item {
	  width: 33.333%;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.grid-sizer, .grid-item {
	  width: 25%;
	}
}
@media only screen and (min-width: 1200px){
	.grid-sizer, .grid-item {
	  width:25%;
	}
}
